@import "../common/variables";

.core19-app {
    background-color: $background-color;
    width: 100%;
    height: 100%;
    min-width: 930px;
    display: flex;
    flex-flow: column;
}

.core19-app-content {
    display: flex;
    flex-flow: row;
    height: 100%;

    .core19-app-left {
        flex: 1;
        display: flex;
        flex-flow: column;
        min-width: 0;
        position: relative;

        .core19-main-view {
            padding: 10px 15px;
            flex: 1;
            border-top: 1px solid gray;
            box-shadow: inset -0px 0px 6px 0px gray;
            overflow: hidden;
        }
    }

    .core19-side-panel {
        width: 260px;
        padding: 10px 15px;
        box-shadow: inset 0px 5px 6px -5px gray;
        background-color: white;
        border-top: 1px solid gray;
        border-left: 1px solid gray;
        overflow-y: auto;
        height: 100%;
    }
}
