.core19-log-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.core19-log-header-text {
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    padding-left: 20px;
    font-size: 14px;
    margin: 0;
    flex: 1;
}

.core19-log-header-buttons {
    align-content: flex-end;
    padding: 6px 6px 6px 0px;

    >:not(:last-child) {
        margin-right: 5px;
    }
}
