@import '../common/variables';

.core19-menu {
    background-color: $brand-primary !important;

    a {
        color: white;
        background-color: $brand-primary;
        &:hover {
            color: white;
            background-color: $brand-primary-darker;
        }
        &:focus {
            color: white;
            background-color: $brand-primary-darker;
        }
    }
}
