{
    "parser": "babel-eslint",
    "extends": [
        "eslint:recommended",
        "airbnb"
    ],
    "rules": {
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "react/jsx-indent": [
            "error",
            4
        ],
        "react/jsx-indent-props": [
            "error",
            4
        ],
        "react/jsx-one-expression-per-line": "off",
        "react/jsx-props-no-spreading": "off",
        "react-hooks/rules-of-hooks": "error",
        "jsx-a11y/control-has-associated-label": "off",
        "quotes": [
            "error",
            "single"
        ],
        "linebreak-style": "off",
        "arrow-parens": [
            "error",
            "as-needed"
        ],
        "arrow-body-style": [
            "error",
            "as-needed"
        ],
        "strict": "off",
        "no-console": "off",
        "valid-jsdoc": [2, {
            "prefer": {
                "return": "returns"
            }
        }],
        "import/no-extraneous-dependencies": 0,
        "import/no-unresolved": [
            "error",
            {
                "ignore": [
                    "nrfconnect/.*",
                    "pc-ble-driver-js",
                    "pc-nrfjprog-js",
                    "serialport",
                    "usb",
                    "nrf-device-setup",
                    "electron"
                ]
            }
        ],
        "import/extensions": ["off"],
        "no-undef": 1,
        "no-unused-vars": 1
    },
    "plugins": [
        "react",
        "import",
        "react-hooks"
    ],
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "jasmine": true,
        "jest": true
    }
}
