runtime = electron
target = 13.1.7
disturl = https://electronjs.org/headers
@nordicsemiconductor/nrf-device-lib-js_binary_host = "https://developer.nordicsemi.com/.pc-tools/nrf-libs/nrf-device-lib-js/"    
