strict-ssl=false

@nordicsemiconductor:registry=https://npm.nordicsemi.no/
fetch-retries=20
fetch-retry-factor=100
fetch-retry-mintimeout=100000
fetch-retry-maxtimeout=600000
runtime = electron
target = 8.2.5
disturl = https://electronjs.org/headers
