@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?26862252');
  src: url('../font/fontello.eot?26862252#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?26862252') format('woff2'),
       url('../font/fontello.woff?26862252') format('woff'),
       url('../font/fontello.ttf?26862252') format('truetype'),
       url('../font/fontello.svg?26862252#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?26862252#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-usb:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-star:before { content: '\e802'; } /* '' */
.icon-star-empty:before { content: '\e803'; } /* '' */
.icon-ok:before { content: '\e804'; } /* '' */
.icon-ok-circled:before { content: '\e805'; } /* '' */
.icon-cancel:before { content: '\e806'; } /* '' */
.icon-cancel-circled-1:before { content: '\e807'; } /* '' */
.icon-cancel-circled2:before { content: '\e808'; } /* '' */
.icon-plus:before { content: '\e809'; } /* '' */
.icon-plus-circled:before { content: '\e80a'; } /* '' */
.icon-help:before { content: '\e80b'; } /* '' */
.icon-info:before { content: '\e80c'; } /* '' */
.icon-link-1:before { content: '\e80d'; } /* '' */
.icon-unlink:before { content: '\e80e'; } /* '' */
.icon-lock:before { content: '\e80f'; } /* '' */
.icon-lock-open:before { content: '\e810'; } /* '' */
.icon-lock-open-alt:before { content: '\e811'; } /* '' */
.icon-edit:before { content: '\e812'; } /* '' */
.icon-attention-alt:before { content: '\e813'; } /* '' */
.icon-attention:before { content: '\e814'; } /* '' */
.icon-attention-circled:before { content: '\e815'; } /* '' */
.icon-trash:before { content: '\e816'; } /* '' */
.icon-trash-empty:before { content: '\e817'; } /* '' */
.icon-cog-1:before { content: '\e818'; } /* '' */
.icon-cog-alt:before { content: '\e819'; } /* '' */
.icon-wrench:before { content: '\e81a'; } /* '' */
.icon-down-circled2:before { content: '\e81b'; } /* '' */
.icon-down-dir:before { content: '\e81c'; } /* '' */
.icon-right-dir:before { content: '\e81d'; } /* '' */
.icon-down:before { content: '\e81e'; } /* '' */
.icon-up:before { content: '\e81f'; } /* '' */
.icon-ccw:before { content: '\e820'; } /* '' */
.icon-arrows-cw:before { content: '\e821'; } /* '' */
.icon-exchange:before { content: '\e822'; } /* '' */
.icon-play:before { content: '\e823'; } /* '' */
.icon-play-circled:before { content: '\e824'; } /* '' */
.icon-play-circled2:before { content: '\e825'; } /* '' */
.icon-stop:before { content: '\e826'; } /* '' */
.icon-pause:before { content: '\e827'; } /* '' */
.icon-to-end:before { content: '\e828'; } /* '' */
.icon-signal:before { content: '\e829'; } /* '' */
.icon-wifi:before { content: '\e82a'; } /* '' */
.icon-columns:before { content: '\e82b'; } /* '' */
.icon-ellipsis-vert:before { content: '\e82c'; } /* '' */
.icon-toggle-off:before { content: '\e82d'; } /* '' */
.icon-toggle-on:before { content: '\e82e'; } /* '' */
.icon-check:before { content: '\e82f'; } /* '' */
.icon-circle:before { content: '\e830'; } /* '' */
.icon-floppy:before { content: '\e831'; } /* '' */
.icon-key:before { content: '\e832'; } /* '' */
.icon-sitemap:before { content: '\e833'; } /* '' */
.icon-shield:before { content: '\e834'; } /* '' */
.icon-database:before { content: '\e835'; } /* '' */
.icon-plug:before { content: '\e836'; } /* '' */
.icon-css3:before { content: '\e837'; } /* '' */
.icon-html5:before { content: '\e838'; } /* '' */
.icon-link:before { content: '\e839'; } /* '' */
.icon-cog:before { content: '\e83a'; } /* '' */
.icon-list-add:before { content: '\e83b'; } /* '' */
.icon-floppy-1:before { content: '\e83c'; } /* '' */
.icon-cancel-circled:before { content: '\e83d'; } /* '' */
.icon-flash:before { content: '\e83e'; } /* '' */
.icon-indent-right:before { content: '\e83f'; } /* '' */
.icon-doc-text:before { content: '\e840'; } /* '' */
.icon-spin5:before { content: '\e841'; } /* '' */