@import "~@mdi/font/css/materialdesignicons.min.css";

$roboto-font-path: "~roboto-fontface/fonts" !default;
@import "~roboto-fontface/css/roboto/sass/roboto-fontface";

$font-family-sans-serif: Roboto;
$theme-colors: (
    "primary": #00A9CE, // Nordic primary blue
);
$enable-transitions: false;
$enable-rounded: false;
$body-bg: #d9e1e2;
@import "~bootstrap/scss/bootstrap";

#webapp {
    display: grid;
    grid-template-rows: 0fr 1fr;
    height: 100vh;

    .nav {
        background-color: theme-color("primary");
        padding: 0.5rem 2rem;

        .nav-link {
            height: 3rem;

            color: #fff;
            text-transform: uppercase;
            font-weight: 300;

            display: flex;
            align-items: center;

            &.active {
                font-weight: bold;
                cursor: default;
            }
        }

        .core-logo-container {
            margin-right: 1rem;
            margin-left: auto;

            display: flex;
            align-items: center;

            cursor: pointer;

            .core-logo {
                height: 2.5rem;
            }
        }
    }

    .tab-content {
        @extend %pretty-scrollbar;
        padding: 2rem;
    }
}

%pretty-scrollbar {
    overflow: overlay;

    &::-webkit-scrollbar {
        width: 16px;
    }

    &::-webkit-scrollbar-corner {
        background-color: rgba(0,0,0,0);
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0,0,0,0.3);
        border-radius: 10px;
        border: 5px solid transparent;
        background-clip: padding-box;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0,0,0,0.6);
        border-width: 4px;
    }
}

.core-app-icon {
    position: relative;

    img {
        height: 48px;
        width: 48px;
    }

    // Transform old primary color to match brand.
    &.old-app-icon {
        filter: hue-rotate(-10deg) brightness(106%);
    }

    .mdi {
        position: absolute;
        top: 22px;
        left: 27px;
        font-size: 20px;
    }

    .mdi-alert {
        color: darkorange;
    }

    .mdi-information {
        color: theme-color("primary");
    }

    .alert-icon-bg {
        position: absolute;
        width: 8px;
        height: 12px;
        top: 32px;
        left: 34px;
        background-color: white;
    }
}

.wide-btns > .btn {
    min-width: 10ch;
}

.btn-toolbar {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0.75em;
}

.btn {
    line-height: 1em;
}

.ellipsize-left {
    direction: rtl;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card + .card {
    margin-top: 1rem;
}

#app-sources .row + .row {
    margin-top: 1rem;
}

#app-sources .item-name {
    font-weight: 500;
    font-size: 90%;
}

.modal-title {
    font-size: 120%;
}

.h4, .h5 {
    font-weight: 400;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.modal-content {
    padding: 1rem;
}

.text-muted-more {
    @extend .text-muted;
    color: lighten($color: $text-muted, $amount: 30%)!important;
}


.dropdown-menu:empty {
    @extend .text-muted-more;
    @extend .small;
    text-align: center;

    &::after {
        content: 'No actions available';
    }
}

.release-notes {
    h2 {
        font-size: 1.25rem;
    }
    h3 {
        font-size: 1rem;
    }
}
