@import "~bootstrap/less/bootstrap.less";
@import (inline) "./common/fontello.css";
@import "./common/variables.less";
@import "./common/styles.less";

html, body, #webapp {
    height: 100%;
}

.core-main-area {
    background-color: @background-color;
    width: 100%;
    height: 100%;
    min-width: 650px;
    display: flex;
    flex-flow: column;
}

.core-nav-bar {
    width: 100%;
    background-color: @brand-primary;
    display: flex;
    height: 60px;

    .core-nav-section {
        display: inline-block;
        padding: 10px 10px 0 10px;
        height: 55px;
    }
}

.core-main-layout {
    height: 100%;
    border-top: 1px solid gray;
    box-shadow: inset -0px 0px 6px 0px gray;
    padding: 20px;
    overflow: auto;
}

.core-app-icon {
    position: relative;

    img {
        height: 40px;
        width: 40px;
        margin-right: 10px;
    }

    .glyphicon {
        position: absolute;
        top: 28px;
        left: 30px;
        color: darkorange;
    }

    .alert-icon-bg {
        position: absolute;
        width: 8px;
        height: 12px;
        top: 32px;
        left: 34px;
        background-color: white;
    }
}

.core-app-launch-item {
    display: flex;
    width: 100%;
    justify-content: flex-start;

    .core-app-launch-item-buttons {
        text-align: right;
        margin-left: auto;
    }

    .core-app-launch-item-buttons > .btn {
        margin-left: 10px;
    }
}

.core-app-management-item {
    width: 100%;

    .core-app-management-item-footer {
        display: flex;
        width: 100%;
        justify-content: flex-start;
    }

    .core-app-management-item-buttons {
        text-align: right;
        margin-left: auto;
    }

    .core-app-management-item-buttons > .btn {
        margin-left: 5px;
    }

    .core-app-management-item-status {
        margin-left: 10px;
        height: 20px;
        border-radius: 3px;
        font-size: 10px;
        margin-top: 7px;
        color: white;
        padding: 4px 10px;
    }

    .installed {
        background-color: @brand-success;
    }

    .upgrade-available {
        background-color: @brand-warning;
    }
}

.core-btn-link {
    padding: 0;
}
