name: Build for Linux x64

on:
    workflow_dispatch:
        inputs:
            ref:
                description:
                    Ref (Tag, branch, commit SHA) to build.
                    Defaults to the ref of the workflow.
                type: string
    workflow_call:
        inputs:
            ref:
                description: Ref to build from
                type: string

jobs:
    build:
        name: Build Linux
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  ref: ${{ inputs.ref }}

            - name: Build
              uses: ./.github/actions/build-action

            - name: Run Electron Builder
              run: npx electron-builder -p never --x64
              if: github.event_name != 'pull_request'

            - name: Upload
              uses: ./.github/actions/publish-action
              with:
                  suffix: linux-x64
              if: github.event_name != 'pull_request'
