name: Build

on:
    workflow_dispatch:
        inputs:
            ref:
                description:
                    Ref (Tag, branch, commit SHA) to build.
                    Defaults to the ref of the workflow.
                type: string
    workflow_call:
        inputs:
            ref:
                description: Ref to build from
                type: string
        outputs:
            build-success:
                description: Whether the build completed successfully
                value:
                    ${{
                        jobs.windows.result == 'success' &&
                        jobs.linux.result == 'success' &&
                        jobs.darwin_x64.result == 'success' &&
                        jobs.darwin_arm64.result == 'success'
                    }}
    pull_request:
        paths-ignore:
            - doc/**
    push:
        branches:
            - main
        paths-ignore:
            - doc/**

jobs:
    windows:
        uses: ./.github/workflows/build_win.yml
        secrets: inherit
        with:
            ref: ${{ inputs.ref }}
    linux:
        uses: ./.github/workflows/build_linux.yml
        secrets: inherit
        with:
            ref: ${{ inputs.ref }}
    darwin_x64:
        uses: ./.github/workflows/build_darwin.yml
        secrets: inherit
        with:
            arch: x64
            ref: ${{ inputs.ref }}
    darwin_arm64:
        uses: ./.github/workflows/build_darwin.yml
        secrets: inherit
        with:
            arch: arm64
            ref: ${{ inputs.ref }}
