name: 'Docs: Create bundle'

on:
    pull_request:
        types: [synchronize, opened, reopened]
        paths:
            - .github/workflows/docs-bundle.yml
            - doc
    workflow_dispatch:
        inputs:
            ref:
                description:
                    Ref (Tag, branch, commit SHA) to publish the docs from.
                    Defaults to the main branch.
                type: string

jobs:
    create-doc-bundle:
        uses: NordicSemiconductor/pc-nrfconnect-shared/.github/workflows/docs-bundle.yml@main
        with:
            bundle-name: nrf-connect-desktop
            ref: ${{ inputs.ref }}
