name: 'Docs: Publish to dev'

on:
    push:
        branches:
            - main
        paths:
            - doc
            - .github/workflows/docs-*.yml
    workflow_dispatch:
        inputs:
            ref:
                description:
                    Ref (Tag, branch, commit SHA) to publish the docs from.
                    Defaults to the main branch.
                type: string

jobs:
    echo-inputs:
        runs-on: ubuntu-latest
        name: Inputs
        steps:
            - uses: actions/github-script@v8
              if: github.event_name == 'workflow_dispatch'
              env:
                  REF: ${{ inputs.ref }}
                  FALLBACK_REF: ${{ github.ref_name }}
              with:
                  script: |
                      core.summary.addHeading('Workflow inputs', '2');
                      core.summary.addTable([['Ref', process.env.REF ? `<code>${process.env.REF}</code>` : `not set explicitly, using ref <code>${process.env.FALLBACK_REF}</code>`]]);
                      core.summary.write();
    publish-docs-bundle:
        uses: NordicSemiconductor/pc-nrfconnect-shared/.github/workflows/docs-publish.yml@main
        with:
            bundle-name: nrf-connect-desktop
            release-type: dev
            ref: ${{ inputs.ref }}
        secrets: inherit
