name: 'Docs: Publish to dev'

on:
    push:
        branches:
            - main
        paths:
            - doc
            - .github/workflows/docs-*.yml
    workflow_dispatch:
        inputs:
            ref:
                description:
                    Ref (Tag, branch, commit SHA) to publish the docs from.
                    Defaults to the main branch.
                type: string

jobs:
    publish-docs-bundle:
        uses: NordicSemiconductor/pc-nrfconnect-shared/.github/workflows/docs-publish.yml@main
        with:
            bundle-name: nrf-connect-desktop
            release-type: dev
            ref: ${{ inputs.ref }}
        secrets: inherit
